.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px; /* Увеличиваем ширину чата */
  height: 400px; /* Ограничиваем максимальную высоту */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 10px 10px 0 0;
}

.chat-close {
  font-size: 22px;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease-in-out;
}

.chat-close:hover {
  color: #ff0000;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.message {
  margin: 5px 0;
}

.own {
  text-align: right;
  background-color: #e0f7fa;
  padding: 8px;
  border-radius: 10px;
  max-width: 80%;
  margin-left: auto;
}

.other {
  text-align: left;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 10px;
  max-width: 80%;
  margin-right: auto;
}

.user-name {
  font-weight: bold;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 0 0 10px 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.send-button {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #0056b3;
}
